@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.89);
  background-image: url('./images/stars.png');
}

.container {
  white-space: nowrap;
}

.container h1 {
  font-family: 'Rowdies';
  font-size: 96px;
  color: #fe3b1f;
  padding: 0px;
}
.box-2 p {
  background-color: #fe3b1f;
  border-radius: 50px;
  padding: 24px 58px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.container p:hover {
  cursor: pointer;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-1 {
  padding: 200px 0 0 0;
}
.box-2 {
  padding: 180px 0 0 0;
}

.box-3 span {
  padding-top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}

/*  FOR Questions Page down here */
/* !!! qp means QuestionsPage !!! */
/* For RIGHT page 1 */

.qp-container {
  min-height: 100vh;
  display: flex;
}

.qp-left {
  width: 50vw;
  background-color: white;
}

.qp-right {
  width: 50vw;
  background-color: rgb(0, 0, 0, 0.89);
}

.qp-right-header {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  color: #fe3b1f;
}

.qp-right-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.qp-right-box {
  padding: 110px 40px 0 150px;
}

.qp-box-2 {
  padding-top: 150px;
}

/* for LEFT Page 1 */

.qp-left-header {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fe3b1f;
}

.qp-left-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qp-left-header-box {
  display: flex;
  padding: 110px 100px 0;
}

.qp-input-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.qp-input {
  padding: 20px;
  width: 400px;
}

.qp-input-radio {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 60px;
}

.qp-input-radio-box {
  display: flex;
  padding: 10px;
}

.qp-input-radio-box p {
  padding-left: 10px;
}
.qp-input-radio-box input {
  padding-top: 10px;
}

.qp-input-headers {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.qp-input-info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #000000;
}

.qp-input input {
  padding: 20px 0px 20px 40px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
  box-sizing: border-box;
  width: 100%;
}

.qp-button-box {
  display: flex;
  justify-content: center;
}

.button-next {
  padding-top: 3px;
  font-size: 25px;
  color: #fe3b1f;
  border: none;
  background-color: #ffffff;
}
.button-prev {
  padding-top: 3px;
  font-size: 25px;
  color: #fe3b1f;
  border: none;
  background-color: #ffffff;
}

.button-prev:hover {
  cursor: pointer;
}
.button-next:hover {
  cursor: pointer;
}

.select-container {
  width: 425px;
  padding: 20px;
  border: 1px solid #525557;
  position: relative;
  border-radius: 3px;
  background: #fff;
}
.select-container select {
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}
.select-container:after {
  content: 'keyboard_arrow_down';
  font-family: 'material icons';
  font-size: 24px;
  color: #fe3b1f;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.APL-button {
  display: flex;
  justify-content: end;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-right: 20px;
}

.APL-button button {
  padding: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  background: #fe3b1f;
  color: #ffffff;
  border: 0;
}

.APL-button button:hover {
  cursor: pointer;
}

.skill-container {
  margin-top: 2rem;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);

  width: 450px;
  padding: 15px;
}
.skill-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.skill-item:hover .title {
  color: var(--clr-grey-5);
}
.title {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition);
}

.delete-btn {
  background: transparent;
  border-color: transparent;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  display: flex;

  transition: var(--transition);
}

.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--clr-red-dark);
}

.section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

/* */

.experience {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* for block */

.hide {
  display: none;
}

.qp-input-headers {
  padding-top: 30px;
}

textarea {
  resize: none;
  padding: 20px 30px 40px;
}

.qp-input-textarea textarea {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #3a3a3a;
}

.circle {
  background-color: #fe3b1f;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.circle:hover {
  cursor: pointer;
}

.circle-container {
  padding: 10px;
}

.final-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
}
.final-page-buttons button {
  border: 1px #000000 solid;
}

.fpb-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fpb-box .fpb-box-submit button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #fe3b1f;
  color: #ffffff;
  padding: 12px 120px;
  border-radius: 60px;
}

.fpb-box .fpb-box-back {
  padding-top: 40px;
}

.fpb-box .fpb-box-back button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
  background-color: #201f1f;
  border: none;
}

.fpb-box-back button:hover {
  cursor: pointer;
}
.fpb-box-submit button:hover {
  cursor: pointer;
}

.icon-delete {
  color: #eb3535;
  font-size: 20px;
}

.icon-delete:hover {
  cursor: pointer;
}

.thank-page {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  text-align: center;
  padding-top: 400px;

  color: #fe3b1f;
}
